.hero {
  background: linear-gradient(113.96deg, #0090BD 13.6%, #140023 88.15%);
  background-color: transparent;
}

.hero-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
}


.left-column {
  padding: 0;
}

.login-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  max-width: 70%;
  height: auto;
  display: block; /* Ensures the image doesn't have extra spacing below */
}

.box {
  background-color: #ffffff;
  border-radius: 60px 0 0 60px;
  
  
}


.right-column {
  width:  100%;

  
}

.title {
  color: #333333;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.button {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #007bb5;
}

.login-sign {
  color: #3498db;
  text-align: center;
}

.login-sign:hover {
  text-decoration: underline;
}

.title.is-4 {
  text-align: center;
  color: #0053DF;

}

.title.is-6 {
  text-align: center;
  /* Adjust the color as needed */
}
.radio-field {
  

  margin-bottom: 20px; 
   
}


.radio-label {
  margin-left: 40px; /* Adjust the margin between the radio button and its label */
}
.input::placeholder {
  color:  #5590F4;
   /* Adjust the color as needed */
}
.button-field {
  border-radius:70%;
  margin-bottom: 20px;
 

 /* Add margin as needed */
}

.button-control {
  text-align: center;
}

.button-button {
  border-radius: 60px;
  background-color: #58D1FC;
  width: 85%;
 
  /* Center the button within the container */
}