
.login-container {
  background: linear-gradient(113.96deg, #0090bd 13.6%, #140023 88.15%);
  background-color: transparent;
  padding: 0;
  height: 101vh;
}
.cropid-input {
  width: 10em;
}
.login-card {
  border-radius: 60px 0 0 50px;
  height: 100vh;
  position: relative;
  left: 2em;
}
.login-form {
  width: 40em;
  left: 10em;
  position: relative;
}
.login-radio {
  position: relative;
  font-size: 1.5em;
  justify-content: space-evenly;
  justify-items: center;
  left: 3em;
}
.login-image {
height:43em;
padding-left: 5em;
}
.fullform {
  width: 50em;
}
.login-button button {
  width: 23em;
  border-radius: 8em;
  background-color: #58D1FC;
}
.crop-image{
  height: 12em;
  padding-top: 5em;
}
.login-title{
  color: #0053DF;
  font-weight: bold;
}
.login-signup{
  font-weight:inherit;
}
.sign-image {
  height:46em;
  padding-left: 8em;
  
  }
  .login-input{
    height: 3em;
  }
