.smart-crop-container{
    padding:0 !important;
    height: 100vh;
}
.smart-crop-sidenav{
    position: fixed;
    width:200px;
    height: 100%;
    overflow: auto;
    color: white;
}
.smart-crop-middle{
    background-color: #ffffff;
    width:calc(100% - 200px);
    margin-left: 200px;
    height: 100vh;
    padding: 10px;
    padding-left: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.smart-head-nav-crop{
    min-height: 120px;
}

.smart-crop-content{
    border:3px solid var(--stroke-color);
    min-height: 600px;
    border-radius: 20px;
    padding:10px;
}

.crops-logo{
    width: 75%;
    height: 75%;
}


/* side Nav */

