:root {
  --primary-color: #003153;
  --stroke-color : #58D1FC;

  --primary-color-side: hsl(240, 98%, 21%);

  /* Blue */
  --secondary-color: #f3fdfd;
  /* Gray */
  --accent-color: #ffc107;
  /* Yellow */
  --white-color: #fffffe;
  /* Add more color variables as needed */

  /* Text Colors */
  --text-color: #333;
  /* Main text color */
  --link-color: #007bff;
  /* Color for hyperlinks */
  --link-hover-color: #0056b3;
  /* Color for hyperlinks on hover */

  --body-background: var(--primary-color);
  /*** header nav olors**/
  --headnav-background: var(--white-color);
  --headnav-textcolor: var(--text-color);
  --sidenav-background: var(--primary-color-side);

  /** buttons colors **/
  --smart-action-button-background: var(--primary-color-side);
  --smart-action-button-text: var(--secondary-color);

  /*** pagination colors ***/
  --smart-page-active-color: var(--primary-color-side);
  --smart-page-disabled-color: var(--secondary-color);

  /**** ****/
  --smart-text-opacity: 0.9;
  --smart-bg-opacity: 0.9;

  /***/
  --bs-popover-body-padding-y: 0.4em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
