.side-nav-title{
  display: flex;
  justify-content:  space-between;
}

.list-items{
  display: flex;
 
}
.main-side-nave-items{
  display: flex;
  flex-direction: column;
  overflow: auto;
  transition: .5s ease-out;
  cursor: pointer;
  
  
}
.side-nav-links{
  display: none;
 
}

.side-nav-links-active{
  display: block;

}

.visible{
  display: block;

}

.hidden{
  display: none;
}

.side-nav-display-items{
  padding: .5rem;
  margin-left: 15px;
  transition: .5s ease-out;
  
}
.side-nav-display-items:hover {
  background-color: rgba(255,255, 255, .1);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}
.side-nav-content{
  margin: 10px 0px;
  color: #E2E0E0;
  transition: .5s ease-out;
}

          

.list-item-active{
  background-color: red;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color:#0053DF;
  background-color: white;
  margin-left: 15px;
}